$black: #1E4054;
//$black: #143731;
//$backgroundblack: #1A1A1A;
$backgroundblack: #1e534a;
$white: #F7F7F7;
$grey: #54481E;
$brown: #543D1E;
//$lightblue: #B9F0E7;
$lightblue: #9CC9E3;
$blue: #1e534a;
$buttonblue: #C99348;

//#9BFFEE

$min: 0.75rem; // 12px
$small: 1.5rem; // 24px
$normal: 2rem; // 32px
$big: 3.5rem; // 56px
$huge: 6.25rem; // 100px

$fourtyseven: 2.9375rem; //47px
$thirtynine: 2.4375rem; //39px
$thirtythree: 2.0625rem; //33px
$twentyseven: 1.6875rem; //27px
$twentysix: 1.625rem; //26px
$twentythree: 1.4375rem; //23px
$twentyone: 1.3125rem; //21px
$nineteen: 1.1875rem; //19px
$fifteen: 0.9375rem; //15px

$phone: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1400px;
$max-width: 1920px;
